<template>
  <div class="home pt-0">
    <div class="content mt-2">
      <h3>บริการระบบจองห้อง มหาวิทยาลัยบูรพา</h3>
      <p>ผู้ใช้งานสามารถเข้าสู่ระบบ เพื่อใช้งานการจองห้องได้เลย</p>
      <p>หากยังไม่มีบัญชีผู้ใช้งาน</p>
      <b-button variant="primary" to="/register">สมัครสมาชิก</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomeView',
  components: {
  }
}
</script>

<style>
.home {
  padding: 50px 0px 50px 0px;
}
</style>
