<template>
  <div class="login h-100 position-relative">
    <div class="test">
      <span >ไอดีและรหัสผ่านสำหรับทดสอบระบบ</span>
      <br />
      <div class="text-justify" v-for="(item, index) in test" :key="index">
        <div class="row">
          <div class="col-4">
            <span>Email: <br> {{ item.username }}</span>
          </div>
          <div class="col-3">
            <span>Password: {{ item.password }}</span>
          </div>
          <div class="col-5">
            <span>Role: <br> {{ item.role }}</span>
          </div>
        </div>
      </div>
    </div>

    <b-card img-alt="Image" class="mb-2 center w-50">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <b-card-text class="text-justify">
            <b-form
              @submit="onSubmit"
              @reset="onReset"
              v-if="showForm"
              class="formLogin"
            >
              <b-form-group
                id="input-group-1"
                label="Username"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.username"
                  type="text"
                  placeholder="Username"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-2"
                label="Password"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  v-model="form.password"
                  placeholder="Password"
                  required
                  type="password"
                ></b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary" class="mr-2"
                >Login</b-button
              >
              <b-button type="reset" variant="danger">Reset</b-button>
              <b-alert
                variant="danger"
                dismissible
                fade
                :show="loginTrue"
                @dismissed="loginTrue = false"
                >กรุณากรอกข้อมูลผู้ใช้ให้ถูกต้อง</b-alert
              >
            </b-form>
          </b-card-text>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </b-card>
  </div>
</template>
<script>
export default {
  components: {
  },
  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      showForm: true,
      loginTrue: false,
      test: [
        { username: 'bestza01', password: 'bestza01', role: ['USER', 'ADMIN'] },
        { username: 'stangza01', password: 'stangza01', role: ['LOCAL_ADMIN'] },
        { username: 'stunza01', password: 'stunza01', role: ['LOCAL_ADMIN'] },
        { username: 'palmyza01', password: 'palmyza01', role: ['LOCAL_ADMIN'] }
      ]
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      // ยิงไป action
      this.$store.dispatch('auth/login', this.form)
      if (!this.isLogin) {
        this.loginTrue = true
      }
    },
    onReset (event) {
      event.preventDefault()
      this.form.username = ''
      this.form.password = ''
      this.showForm = false
      this.$nextTick(() => {
        this.showForm = true
      })
    }
  },
  mounted () {
    if (!this.isLogin) {
      this.$store.dispatch('auth/logout')
      this.$router.push({ path: '/' })
    } else {
      this.$router.push({ paht: '/home' })
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>

<style scoped lang="scss">
.test {
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: #71b6eeb2;
  color: #fff;
  padding: 5px 10px;
}

.login {
  background-color: #f0f2f5;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  position: relative;
}

.login-text {
  color: #fff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}
</style>
