<template>
    <div class="sidebar">
      <div class="d-flex align-items-center mb-3">
        <div class="flex-fill"><img src="../assets/buu.png" width="40" height="40"/></div>
        <div class="flex-fill text-left"><span>ระบบจองห้อง<br>มหาวิทยาลัยบูรพา</span></div>
      </div>
      <b-nav vertical>
        <b-nav-item to="/home">หนัาหลัก</b-nav-item>
        <b-nav-item @click="booking()"> จองห้อง</b-nav-item>
        <b-nav-item to="/building" v-if="isLogin && isAdmin"
          >จัดการตึก</b-nav-item
        >
        <b-nav-item to="/institution" v-if="isLogin && isAdmin"
          >จัดการหน่วยงาน</b-nav-item
        >
        <b-nav-item to="/approver" v-if="isLogin && isLocalAdmin"
          >จัดการลำดับผู้อนุมัติ</b-nav-item
        >
        <b-nav-item to="/petition" v-if="isLogin && (isLocalAdmin || isAdmin)"
          >จัดการคำร้อง</b-nav-item
        >
        <b-nav-item to="/manageRoom" v-if="isLogin && isLocalAdmin"
          >จัดการห้อง</b-nav-item
        >
        <b-nav-item to="/users" v-if="isLogin && isAdmin"
          >จัดการผู้ใช้</b-nav-item
        >
        <b-nav-item to="/toolD" v-if="isLogin && isLocalAdmin"
          >จัดการอุปกรณ์</b-nav-item
        >

      </b-nav>
      <b-nav vertical class="mt-auto mb-3">
          <b-nav-item to="/" class="login-btn" v-if="!isLogin">เข้าสู่ระบบ</b-nav-item>
          <b-nav-item to="/login" class="logout-btn" v-if="isLogin" @click="logout">ออกจากระบบ</b-nav-item>
      </b-nav>
    </div>
</template>
<script>
// import api from '@/services/api'
export default {
  data () {
    return {
      showGroupBooking: false,
      showFormInput: false,
      showForm: false,
      showCRUDExample: false
      // roleRestricted - true = user / false = admin
    }
  },
  methods: {
    booking () {
      this.$store.dispatch('bookingRoom/reset')
      if (this.$route.name !== 'booking') {
        this.$router.push({ path: '/booking' })
      }
    },
    logout () {
      this.$store.dispatch('auth/logout')
      this.$router.push({ path: '/' })
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    },
    isAdmin () {
      return this.$store.getters['auth/isAdmin']
    },
    isLocalAdmin () {
      return this.$store.getters['auth/isLocalAdmin']
    }
  },
  mounted () {}
}
</script>

<style scope lang="scss">
.sidebar{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  height: 100vh;
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #e7e7e7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .nav-item{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: #e7e7e7;
    }

    &.login-btn{
      background-color: #007bff;
      &:hover{
        background-color: #0069d9;
      }
      .nav-link{
        color: #fff;
      }
    }

    &.logout-btn{
      background-color: #dc3545;
      &:hover{
        background-color: #bd2130;
      }
      .nav-link{
        color: #fff;
      }
    }

    .nav-link{
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

</style>
