<template>
    <div id="app">
      <div class="row min-vh-100 no-gutters">
        <div class="col-2">
          <MenuSideBar />
        </div>
        <div class="col-10">
          <router-view />
        </div>
      </div>
    </div>
</template>

<script>
import MenuSideBar from '@/components/MenuSideBar.vue'

export default {
  data () {
    return {
      showRouter: false,
      dev: false,
      showHeader: true,
      showSidetab: true
    }
    /* ------------------------------------------------------ */
  },
  components: {
    MenuSideBar
  },
  methods: {
    toggleRouter (event) {
      this.showRouter = !this.showRouter
    },
    toggleHeader (event) {
      this.showHeader = !this.showHeader
    }
  },
  mounted () {
    if (!this.isLogin) {
      this.$router.push({ path: '/' })
      this.$store.dispatch('auth/logout')
    } else {
      this.$router.push({ paht: '/home' })
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

</style>
